
html, body, h1, h2 { border: 0; margin: 0; padding: 0; }
body               { padding: 2em; }

#list, #notlist { position: fixed; }

#list                { padding: 0.25em; box-sizing: border-box; top: 1em; left: 1em; bottom: 1em; width: 34em; background-color: #f0f8ff; }
#list table          { border-collapse: collapse; border: 2px solid black; padding: 0; font-family: sans-serif; color: #036; }
#list th             { background-color: #cde; font-weight: normal; font-size: 85%; text-align: center;  }
#list td             { padding: 0 0.5em; text-align: center; border: 1px solid #def; }
#list td+td+td+td+td { text-align: left; }
#list .light         { font-size: 80%; color: #8be; }

#notlist { top: 1em; left: 36em; right: 1em; }

#example, #pack, #unpack { padding: 1em; }

#example { font-family: monospace; background-color: #eef; white-space: pre; }
#pack    { font-family: monospace; margin-top: 0.5em; background-color: #f8f8f8; }
#unpack  { display: none; font-family: monospace; margin-top: 0.5em; background-color: #efe; white-space: pre; }

#list a        { padding: 0.25em; box-sizing: border-box; display: block; text-decoration: none; color: #004; }
#list a:hover  { background-color: rgba(0,0,0,   0.1); border-radius: 0.3em; }
#list a.sel    { background-color: rgba(0,0,127, 0.1); border-radius: 0.3em; }
#list img.stat { display: block; width: 95%; margin: 0.5em auto; background-color: white; }

#parse td    { text-align: right; }
#parse td+td { text-align: left; }

tr.unk td { background-color: #fee; }
.ch       { color: #060; }

.comp { background-color: #dfe; }